body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("/audio/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    border: 2px solid;
    box-shadow: 0px 0px 30px aqua;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsla(191, 97%, 12%, 0.788);
    height: fit-content;
    width: fit-content;
    padding: 20px;
    position: relative;
}

textarea, input {
    background-color: rgba(147, 45, 60, 0.399);
    color: aqua;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input {
    margin-top: 20px;
}

.btns {
    margin-top: 20px;
    margin-left: 70px;
}
.btn1{
    background-color: aqua;
    color: black;
    padding: 5px 6px;
    border: none;
}
.btn1:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
    padding: 6px;
    box-shadow: 0px 00px 10px aqua;
   
}
.btn2{
    background-color: black;
    color: white;
    padding: 5px 6px;
    box-shadow: 0px 00px 10px aqua;
    border: none;
}
.btn2:hover{
    background-color: aqua;
    color: black;
    transition: 0.4s;
    padding: 6px;
    box-shadow: none;
}